/*IMPORT FONT*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Sniglet&display=swap');

/*GLOBALS*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color1: rgb(227, 227, 227);
  --color2: rgb(212, 164, 98);
  --color3: rgb(69, 40, 0);
  --color4: rgb(71, 0, 15);
  --red: rgb(254, 148, 182);
  --blue: rgb(148, 182, 254);
  --yellow: rgb(242, 254, 148);
  --green: rgb(148, 254, 182);
  --font1: 'Neucha', cursive;
  --font2: 'Sniglet', cursive;
  --sizeTitle: 40px;
  --sizeSubTitle: 12px;
  --sizeText: 15px;
  --radius: 5px;
  --maxAppWidth: 768px;
}

/*IMPORT CSS MOBILE FIRST*/
@import url('mobile.css');
@import url('tablet.css') screen and (min-width: 768px);
@import url('desktop.css') screen and (min-width: 1024px);